.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sfondogiallo {
  background-color: #ffd41f; /* Colore di sfondo giallo eni */
  height: 100vh; /* Imposta l'altezza all'intera finestra */
  width: 100vw; /* Imposta la larghezza all'intera finestra */
  display: flex; /* Per centrare il contenuto */
  justify-content: center; /* Centra orizzontalmente */

}

.sfondoneutro {
  background-color: #f8f9fa; /* Colore di sfondo bianco neutro */
  height: 100vh; /* Imposta l'altezza all'intera finestra */
  width: 100vw; /* Imposta la larghezza all'intera finestra */
  display: flex; /* Per centrare il contenuto */
  justify-content: center; /* Centra orizzontalmente */

}

.sfondoimmaginegialla {
  background-image: url('./materials/sfondo-login2.jpg'); /* Immagine di sfondo */
  background-size: cover; /* Copre l'intero contenitore */
  background-position: center; /* Centra l'immagine */
  background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
  min-height: 100vh; /* Altezza minima per coprire l'intera finestra */
  min-width: 100%; /* Larghezza dinamica */
  display: flex; /* Per centrare il contenuto */
  align-items: flex-start; /* Allinea gli elementi in alto */
  justify-content: center; /* Centra orizzontalmente */
  box-sizing: border-box; /* Include il padding nelle dimensioni */
}


